/* 공통 */

@font-face {
    font-family: 'NotoSansCJKkr-Black';
    src: url("font/NotoSansCJKkr-Black.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url("font/NotoSansCJKkr-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url("font/NotoSansCJKkr-DemiLight.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-Light';
    src: url("font/NotoSansCJKkr-Light.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url("font/NotoSansCJKkr-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url("font/NotoSansCJKkr-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKkr-Thin';
    src: url("font/NotoSansCJKkr-Thin.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0
}

body {
    font-size: 1.6rem;
    font-family: NotoSansCJKkr-Regular;
    overflow-x: hidden
}

html {
    font-size: 10px
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

.inner {
    width: 1280px;
    margin: 0 auto
}

.hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden
}



/* 상단 */
/* 위쪽상단 */
.top_header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    font-size: 1.3rem
}

.top_header > .inner:after {
    display: inline-block;
    content: "";
    clear: both
}

.site {
    width: 285px;
    float: left;
    color: #6e6e6e;
    font-weight: bold
}

.site > li {
    float: left;
    width: 32.9%;
    background-color: #f0f0f0;
    border-right: 1px solid #e1e1e1
}

.site:after {
    display: inline-block;
    content: "";
    clear: both
}

.site > li:nth-child(1) {
    background-color: #212121;
    color: #fff
}

.site > li:nth-child(3) > select {
    width: 100%;
    height: 38px;
    border: none;
    background-color: #f0f0f0;
    color: #6e6e6e;
    font-weight: bold
}


.util {
    width: 282px;
    float: right;
    color: #666666
}

.util > li {
    width: 25%;
    float: left
}

.util > li:nth-child(1),
.util > li:nth-child(2) {
    color: #a6a6a6
}

.util:after {
    display: inline-block;
    content: "";
    clear: both
}

.util > li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e1e1;
    margin: 0 10px 0 0
}

.util > li:nth-child(1):before {
    display: none
}

.util > li:nth-child(1) {
    width: 20%;
    padding-left: 5%
}


/* 아래쪽상단 */

.bottom_header {
    width: 100%;
    height: 92px;
    line-height: 92px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    font-size: 1.5rem
}

.bottom_header > .inner:after {
    display: inline-block;
    content: "";
    clear: both
}

.menu {
    width: 372px;
    float: left
}

.menu a {
    color: #333;
    text-decoration: none
}

.menu > li {
    float: left;
    width: 22%;
    padding: 0 2%;
    position: relative
}

.menu > li > a {
    transition: all 0.5s
}

.menu > li > a:hover {
    color: pink;
    transition: all 0.5s
}

.submenu {
    width: 100%;
    position: absolute;
    top: 93px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 2
}

.menu > li:hover .submenu {
    opacity: 1;
    transition: all 0.5s
}

.submenu > li {
    line-height: normal;
    padding: 6% 0
}

.submenu > li > a {
    color: #fff
}

.menu:after {
    display: inline-block;
    content: "";
    clear: both
}

.menu > li:first-child {
    padding: 0
}

.menu > li:last-child {
    padding: 0
}

.menu > li > a {
    text-decoration: none;
    color: #212121
}

.logo {
    position: absolute;
    width: 212px;
    left: 15%;
    right: 15%;
    margin: 0 auto;
    top: 15%
}

.sub_menu {
    float: right;
    color: #a6a6a6
}

.sub_menu:after {
    display: inline-block;
    content: "";
    clear: both
}

.sub_menu > .side {
    width: 321px;
    float: left
}

.sub_menu > .side > li {
    float: left;
    padding-right: 30px
}

.sub_menu > .side > li > i {
    padding-right: 5px;
    vertical-align: middle
}

.sub_menu > .search {
    float: left;
    padding: 0 30px
}

.sub_menu > .m_menu {
    float: left
}

/* 모바일 메뉴 버튼 */

a.close {
    font-size: 1.5rem;
    width: 40px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ccc;
    color: #000;
    line-height: 50px;
    text-align: center;

}

.left_gnbWrap {
    height: 100%;
    width: 200px;
    position: fixed;
    right: -200px;
    top: 0;
    padding-top: 50px;
    z-index: 999;
    transition: all 0.3s;
    background-color: #fff
}

.left_gnbWrap.on {
    right: 0;
}

.left_gnb > li {
    width: 100%;
}

.left_gnb > li > a {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #4d4d4d;
    border-bottom: 1px solid #dddddd
}

.left_gnb > li > a.on {
    background-color: #212121;
    color: #fff
}

.left_gnb > li > ul {
    display: none;
}

.left_gnb > li > ul > li > a {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    color: black;
}

/* 메인이미지 */
/*#mainimg {
    width: 100%;
    height: 640px;
    background-image: url(../img/mainimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
*/

.dot-navigation .slick-track{transform: translate3d(0px, 0px, 0px) ! important}

/* 콘텐츠 */
/* brand */
.brand {
    width: 1280px;
    margin: 110px auto 0
}

.brandtitle {
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center
}

.brandtitle:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333333;
    top: 10%
}

.brandtitle > h2 {
    font-family: NotoSansCJKkr-Bold;
    font-size: 2.6rem;
    color: #fe3030;
    position: absolute;
    width: 20%;
    background-color: #fff;
    left: 35%;
    right: 35%;
    margin: auto;
    padding: 0 55px
}

.brandtitle > p {
    font-weight: 900;
    padding-top: 40px;
    font-size: 1.5rem
}

.brandslider {
    width: 1280px;
    height: 520px;
    position: relative
}

.brandslider > .btn_prev {
    position: absolute;
    left: 0;
    top: 45%
}

.brandslider > .btn_next {
    position: absolute;
    right: 0;
    top: 45%
}

.brandslider > .brand_list {
    position: absolute;
    width: 1050px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.brandslider > .brand_list > .slide {
    float: left;
    width: 33.3%
}



.brandslider > .brand_list > .slide:nth-child(1) {
    overflow: hidden
}

.brandslider > .brand_list > .slide:nth-child(1) img {
    transform: scale(1);
    transition: all 0.7s
}

.brandslider > .brand_list > .slide:nth-child(1):hover img {
    transform: scale(1.2);
    transition: all 0.7s
}

.brandslider > .brand_list > .slide:nth-child(2) {
    overflow: hidden
}

.brandslider > .brand_list > .slide:nth-child(2) img {
    transform: scale(1);
    transition: all 0.7s
}

.brandslider > .brand_list > .slide:nth-child(2):hover img {
    transform: scale(1.2);
    transition: all 0.7s
}

.brandslider > .brand_list > .slide:nth-child(3) {
    overflow: hidden
}

.brandslider > .brand_list > .slide:nth-child(3) img {
    transform: scale(1);
    transition: all 0.7s
}

.brandslider > .brand_list > .slide:nth-child(3):hover img {
    transform: scale(1.2);
    transition: all 0.7s
}

.brandslider > .brand_list:after {
    content: "";
    display: inline-block;
    clear: both
}

.brandslider > .brand_list > .slide > img {
    width: 100%
}

.business {
    width: 100%;
    height: 130px;
    margin-top: 65px;
    border-radius: 7px;
    border: 1px solid #dedede;
    color: #585858
}

.business:after {
    display: block;
    content: "";
    clear: both
}

.business > div:nth-child(1) {
    width: 32%;
    height: 130px;
    float: left
}

.business > div:nth-child(1) {
    border-radius: 7px 0 0 7px;
    background-image: url(../img/b_bg.jpg)
}

.business > div:nth-child(2) {
    width: 53%;
    height: 130px;
    float: left;
    background-color: #fbfbf1
}

.business > div:nth-child(2) > h4 {
    padding: 5% 0 0.7% 4%;
    font-size: 1.2rem;
    color: #fe3030
}

.business > div:nth-child(2) > p {
    padding-left: 4%;
    font-size: 2.5rem
}

.business > div:nth-child(2) > p > span {
    font-weight: bold
}

.business > div:nth-child(3) {
    width: 15.001%;
    height: 130px;
    float: right;
    background-color: #f1f1f1;
    font-size: 1.6rem;
    font-weight: bold
}

.btn {
    width: 110px;
    height: 30px;
    font-size: 1.7rem;
    background-image: url(../img/bg_arrow.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 25% auto;
    text-align: center
}

/* mall */
.banner_set {
    width: 100%;
    height: 340px;
    background-color: #e7dcdc;
    margin-top: 160px;
    color: #fff
}

.banner_set > .inner {
    height: 340px;
    background-image: url(../img/mall_bg.png);
    background-position: -320px center;
    position: relative
}

.banner_set > .inner > div {
    float: left;
    position: absolute;
    left: 15%;
    top: 40%
}

.banner_set > .inner > div > h4 {
    font-size: 1.2rem;
    color: #fe3030;
    margin-bottom: 0.7%
}

.banner_set > .inner > div > p {
    font-size: 2.5rem;
    color: #585858
}

.banner_set > .inner > div > p span {
    font-weight: bold
}

.banner_set li:nth-child(1) p {
    color: #d40f12
}

.banner_set li:nth-child(2) p {
    color: #1549da
}

.banner_set li:nth-child(3) p {
    color: #560079
}

.banner_set li:nth-child(4) p {
    color: #00a735
}

.banner_set li:nth-child(5) p {
    color: #1b1718
}

.banner_set > .inner > ul {
    width: 500px;
    float: right;
    position: absolute;
    right: 10%;
    top: 38%;
    font-size: 1.4rem
}

.banner_set > .inner > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.banner_set > .inner > ul > li {
    width: 20%;
    text-align: center;
    float: left
}

.banner_set > .inner > ul > li img {
    transition: all 0.4s
}

.banner_set > .inner > ul > li:hover img {
    transform: rotate(180deg);
    transition: all 0.4s
}

.banner_set > .inner > ul > li > p {
    font-size: 1.4rem
}

/* new product */
.new_set {
    width: 100%;
    height: 850px;
    background-image: url(../img/new_bg.png);
    background-size: cover
}

.new_set > h2 {
    font-family: NotoSansCJKkr-Bold;
    font-size: 2.6rem;
    color: #fe3030;
    text-align: center;
    padding-top: 120px
}

.new_set > .newslider {
    width: 1280px;
    height: 494px;
    margin: 0 auto;
    color: #fff;
    margin-top: 50px;
    position: relative
}

.new_set > .newslider > .btn_prev {
    position: absolute;
    top: 45%;
    left: 0
}

.new_set > .newslider > .btn_next {
    position: absolute;
    top: 45%;
    right: 0
}

.new_set > .newslider > .new_list {
    width: 969px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.new_set > .newslider > .new_list:after {
    content: "";
    display: inline-block;
    clear: both
}

.new_set > .newslider > .new_list > .slide {
    width: 33.3%;
    float: left;
    letter-spacing: -1px;

}

.slide_2 {
    height: 374px;
    position: relative;
    overflow: hidden
}

.slide_2 img {
    border-radius: 15px
}

.slide_2 div {
    width: 80%;
    height: 374px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    transform: translate(0, 374px);
    transition: all 0.6s;
    border-radius: 15px
}

.slide_2 div p {
    padding-top: 67%
}

.slide_2:hover div {
    transform: translate(0, 0);
    transition: all 0.6s
}



.new_set > .newslider > .new_list > .slide img {
    width: 80%;
    margin: 0 10%
}

.new_set > .newslider > .new_list > .slide > h4 {
    font-size: 2.2rem;
    color: #585858;
    font-weight: bold;
    padding: 40px 10% 24px 10%
}

.new_set > .newslider > .new_list > .slide > p {
    font-size: 1.4rem;
    color: #a2a2a2;
    padding: 0 10%
}



/* product */
.product {
    text-align: center;
    margin: 110px
}

.product > h2 {
    font-family: NotoSansCJKkr-Bold;
    color: #fe3030;
    text-align: center;
    font-size: 2.6rem;
}

.product > p {
    font-size: 1.5rem;
    color: #585858;
    margin: 30px 0 110px
}

.product > ul {
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold
}

.product > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.product > ul > li {
    width: 25%;
    float: left
}

.product > ul > li > i {
    height: 54px;
    display: inline-block
}

.product > ul > li > i img {
    transition: all 0.2s
}

.product > ul > li > i:hover img {
    transform: rotateY(180deg);
    transition: all 0.2s
}

.food {
    transition: all 0.5s
}

.product > ul > li:hover .food {
    color: pink;
    transition: all 0.5s
}

.product > ul > li > p {
    margin-top: 36px
}

/* brandstore */
.brandstore {
    width: 100%;
    height: 282px;
    background-image: url(../img/brandstore_bg.png);
    background-size: cover;
    background-position: center center;
    color: #585858;
    margin-top: 169px;
    border: 1px solid #f5f5f5
}

.brandstore > div {
    width: 35%;
    margin: 0 auto;
    padding: 45px 0 0 20%
}

.brandstore h4 {
    padding-top: 47px;
    padding-bottom: 0.7%;
    font-size: 1.2rem;
    color: #fe3030
}

.brandstore p {
    font-size: 2.5rem;
    line-height: 25px
}

.brandstore span {
    font-weight: bold
}

.brandstore > div > .btn {
    margin: 2% 0 0 0
}

/* 공지 */
.board_set {
    width: 1280px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    font-size: 1.4rem;
    color: #000100
}

.board_set > h2 {
    width: 136px;
    float: left;
    font-weight: bold
}

.board_set > p {
    float: left
}

.board_set > ul {
    float: right
}

.board_set:after {
    content: "";
    display: inline-block;
    clear: both
}

.board_set > ul > li {
    float: left
}

.board_set > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.board_set > ul > li.date {
    color: #979996
}

.board_set > ul > li.more {
    width: 110px;
    text-decoration: underline;
    text-align: right
}

/* 하단 */
#footer {
    width: 100%;
    height: 295px;
    background-color: #1e1f21
}

/* 하단위쪽 */
.top_footer {
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #303133;
    font-size: 1.2rem;
    color: #5e605d
}

.top_footer > .inner > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.top_footer > .inner > ul > li {
    float: left;
    padding-right: 32px
}

.top_footer > .inner > ul > li:nth-child(2) {
    color: #fff
}

/* 하단아래쪽 */
.bottom_footer {
    color: #999999;
    margin-top: 42px;
    font-size: 0.8rem
}

.bottom_footer > .inner:after {
    content: "";
    display: inline-block;
    clear: both
}

.bottom_footer > .inner > .f_logo,
.copyright {
    float: left
}

.bottom_footer > .inner > .info {
    float: right;
    color: #ffb2b2;
    font-size: 1.7rem
}

.bottom_footer > .inner > .f_logo {
    padding-right: 54px
}

.bottom_footer > .inner > .copyright > ul > li {
    position: relative;
    padding-left: 115px
}

.bottom_footer > .inner > .copyright > ul > li > span {
    position: absolute;
    left: 0
}

.bottom_footer > .inner > .copyright > p {
    margin-top: 36px;
    color: #9a9a9c
}

.bottom_footer > .inner > .info > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.bottom_footer > .inner > .info > ul > li {
    float: left
}

.bottom_footer > .inner > .info > ul > li:before {
    content: "|";
    display: inline-block;
    padding: 0 10px;
    color: #3a3b3d
}

.bottom_footer > .inner > .info > ul > li:first-child:before {
    content: ""
}

.bottom_footer > .inner > .info > ul > li > span {
    font-size: 1.2rem;
    color: #5e605d;
    padding-right: 3px
}





/* 서브1 */
.subtitle {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e1e1e1
}

.subtitle > .inner > ul:after {
    content: "";
    display: block;
    clear: both
}

.subtitle > .inner > ul > li {
    float: left;
    width: 106px
}

.subtitle > .inner > ul > li:first-child {
    width: 58px;
    text-align: center
}

.subtitle > .inner > ul > li:first-child > img {
    vertical-align: inherit
}

.subtitle > .inner > ul > li > select {
    height: 44px;
    text-align: center;
    border: none;
    vertical-align: top;
    font-size: 1.1rem
}

.titlebodyimage {
    width: 100%;
    height: 611px;
    background-image: url(../img/subimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.expert {
    width: 1280px;
    margin: 0 auto;
    text-align: center
}

.expert_text {
    margin-bottom: 87px
}

.expert_text > h2 {
    font-family: NotoSansCJKkr-Thin;
    font-size: 2.8rem;
    color: #443b3b
}

.expert_text > h2 > span {
    font-family: NotoSansCJKkr-Bold
}

.expert_text > p {
    font-family: NotoSansCJKkr-Regular;
    font-size: 1.7rem;
    color: #6c6c6c
}

.expert_text > p span {
    font-family: NotoSansCJKkr-Medium;
    color: #fe3030
}

.expert_img {
    width: 100%;
    height: 446px;
    border: 1px solid #e1e1e1;
    color: #222222;
    padding: 65px 0
}

.expert_img:after {
    content: "";
    display: block;
    clear: both
}

.expert_img > dl {
    width: 33.33%;
    float: left
}

.expert_img > dl > dt {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
    padding: 34px 0
}

.expert_img > dl > dt > i {
    display: block
}

.expert_img > dl > dd {
    font-size: 1.4rem;
    color: #6c6c6c
}

.expert_img > dl > dd > ul {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding-left: 20%
}

.expert_img > dl > dd > ul > li {
    background-image: url(../img/list-style.jpg);
    background-repeat: no-repeat;
    background-position: left 8px;
    padding-left: 12px
}

.expert_img > dl:nth-child(1) li:last-child {
    background: none
}

.expert_img > dl:nth-child(3) li:last-child {
    background: none
}

.expert_xtra {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 78px
}

.expert_xtraImg:after {
    content: "";
    display: block;
    clear: both
}

.expert_xtraImg {
    width: 99.5%;
    margin: 0 auto
}

.spce_l,
.spce_r {
    width: 48.14%;
    height: 455px;
    float: left;
    border: 1px solid #e2e2e2;
    font-weight: bold
}

.spce_l {
    margin-right: 1.7%
}

.spce_r {
    margin-left: 1.7%
}

.expert_icon {
    padding: 55px 0 12px 0;
    display: block;
}

.txt1 {
    font-size: 2.4rem;
    color: #222;
    padding-bottom: 12px
}

.view {
    font-family: NotoSansCJKkr-Regular;
    width: 40%;
    margin: 0 auto;
    height: 26px;
    line-height: 26px;
    font-size: 1.5rem;
    color: #6c6c6c
}

.txt2:before {
    content: "";
    display: block;
    width: 22px;
    margin: 0 auto;
    height: 1px;
    background-color: #222222;
    margin-bottom: 35px
}

.txt2 {
    font-family: NotoSansCJKkr-Regular;
    font-size: 1.5rem;
    color: #fe3030;
    margin: 28px 0 45px 0
}


.btnExp {
    width: 213px;
    height: 60px;
    line-height: 60px;
    background-color: #feb2b2;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(254, 48, 48, 0.8);
    transition: all 0.5s
}

.btnExp:hover {
    background-color: #b0b0b0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all 0.5s
}

.upgrade {
    width: 1280px;
    margin: 0 auto;
    font-size: 1.4rem;
    color: #747774;
    margin-top: 18px;
    margin-bottom: 122px;
    text-align: left
}

.upgrade > li {
    background-image: url(../img/list-style.jpg);
    background-repeat: no-repeat;
    background-position: left 10px;
    padding-left: 12px
}

.upgrade span {
    color: #fe3030
}

.sub_bottom {
    width: 100%;
    height: 62px;
    background-color: #332c2c;
    color: #d7d4d7;
    font-size: 1.2rem;
    line-height: 62px;
    margin-top: 120px;
}

.sub_bottom ul {
    float: left;
}

.sub_bottom li {
    float: left;
}

.sub_bottom li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 9px;
    background-color: #3a3b3d;
    margin: 0 30px;
}

.sub_bottom li:nth-child(1):before {
    display: none;
}

.sub_bottom > .inner > div {
    float: right;
}

.sub_bottom select {
    width: 100px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #332c2c;
}

.sub_bottom ul:after {
    display: block;
    content: "";
    clear: both;
}

.sub_bottom > .inner {
    display: block;
    content: "";
    clear: both;
}

/* 서브1끝 */



/* 서브2 */
.titlebodyimage2 {
    width: 100%;
    height: 611px;
    background-image: url(../img/subimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}


.category {
    width: 1280px;
    margin: 0 auto;
}

.category_text {
    margin-bottom: 87px;
    text-align: center
}

.category_text > h2 {
    font-family: NotoSansCJKkr-Thin;
    font-size: 2.8rem;
    color: #443b3b
}

.category_text > h2 > span {
    font-family: NotoSansCJKkr-Bold
}

.category_text > p {
    font-family: NotoSansCJKkr-Regular;
    font-size: 1.7rem;
    color: #6c6c6c
}

.category_text > p span {
    font-family: NotoSansCJKkr-Medium;
    color: #fe3030
}

.category > .inner > h3 {
    margin-bottom: 15px
}

.category_set {
    width: 100%;
    height: 144px
}

.category_set:after {
    content: "";
    display: inline-block;
    clear: both
}

.categ_title {
    width: 19%;
    height: 144px;
    background-color: #fe3030;
    color: #fff;
    border-radius: 15px;
    float: left;
    margin-right: 1%;
    text-align: center;
    line-height: 144px
}

.categ_table {
    width: 69%;
    float: left;
    margin-right: 1%
}

.categ_table > ul {
    width: 100%;
    height: 67px;
    margin-bottom: 10px
}

.categ_table > ul > li {
    width: calc(96%/3);
    background-color: #f5f5f5;
    color: #585858;
    border-radius: 15px;
    float: left;
    height: 67px;
    line-height: 67px
}

.categ_table > ul > li:nth-child(1),
.categ_table > ul > li:nth-child(2) {
    margin-right: 2%
}

.categ_table select {
    border: none;
    font-size: 1.3rem;
    color: #585858;
    background-color: #f5f5f5;
}

.categ_table input {
    border: none;
    font-size: 1.3rem;
    color: #585858;
    background-color: #f5f5f5;
}


.categ_table > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.categ_table > div {
    width: 100%;
    background-color: #f5f5f5;
    color: #585858;
    border-radius: 15px;
    height: 67px;
    font-size: 1.4rem;
    line-height: 67px
}

.categ_btn {
    width: 10%;
    float: right;
    background-color: #4d4d4d;
    color: #fff;
    border-radius: 15px;
    height: 144px;
    line-height: 144px;
    text-align: center
}

.new_introduce {
    margin-top: 75px
}

.new_introduce > .inner > h3 {
    margin-bottom: 15px
}

.new_introduce > .inner > div:nth-child(2) {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 1085px
}

.new_imgSet > li {
    width: 33%;
    float: left;
    padding: 4% 0
}

.new_imgSet {
    width: 99%;
    margin: 0 auto;
    text-align: center
}

.new_imgSet:after {
    content: "";
    display: inline-block;
    clear: both
}

.new_introduce > .inner > .btnExp {
    margin-top: 55px
}


.sub_bottom {
    width: 100%;
    height: 62px;
    background-color: #332c2c;
    color: #d7d4d7;
    font-size: 1.2rem;
    line-height: 62px;
    margin-top: 120px;
}

.sub_bottom ul {
    float: left;
}

.sub_bottom li {
    float: left;
}

.sub_bottom li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 9px;
    background-color: #3a3b3d;
    margin: 0 30px;
}

.sub_bottom li:nth-child(1):before {
    display: none;
}

.sub_bottom > .inner > div {
    float: right;
}

.sub_bottom select {
    width: 100px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #332c2c;
}

.sub_bottom ul:after {
    display: block;
    content: "";
    clear: both;
}

.sub_bottom > .inner {
    display: block;
    content: "";
    clear: both;
}

/*서브2끝*/

@media(max-width:1279px) {
    .inner {
        width: 100%
    }

    #header {
        height: 132px;
        position: relative
    }

    .top_header {
        display: none
    }

    .bottom_header {
        border-bottom: 0
    }

    .menu {
        float: none;
        margin: 0 auto;
        padding-top: 60px
    }

    .submenu {
        top: 92px
    }

    .sub_menu > .side {
        display: none
    }

    .sub_menu > .search {
        display: none
    }

    .sub_menu > .m_menu {
        float: none;
        position: absolute;
        top: 5%;
        left: 2%
    }

    a.close {
        left: 0
    }

    .left_gnbWrap {
        left: -200px
    }

    .left_gnbWrap.on {
        left: 0
    }


    /*#mainimg {
        background-image: url(../img/main_m.jpg);
        height: 0;
        padding-top: calc(1028/750*100%)
}*/

    .brand {
        width: 100%
    }

    .brandtitle {
        width: 98%;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .brandslider {
        width: 90%;
        height: auto;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .brandslider > .brand_list {
        width: 100%;
        height: 0;
        padding-top: calc(337/680*100%);
        position: relative
    }

    .brandslider > .brand_list > .slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .brandslider > .brand_list > .slide:nth-child(2) {
        display: none
    }

    .brandslider > .brand_list > .slide:nth-child(3) {
        display: none
    }

    .business {
        border-radius: 0
    }

    .business > div:nth-child(1) {
        border-radius: 0
    }

    .business > div:nth-child(2) {
        width: 68%
    }

    .business > div:nth-child(3) {
        display: none
    }

    .banner_set {
        margin-top: 0
    }

    .banner_set > .inner {
        background: none
    }

    .banner_set > .inner > div {
        float: none;
        text-align: center;
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .banner_set > .inner > ul {
        float: none;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        bottom: 15%
    }

    .new_set {
        height: 0;
        padding-top: calc(1200/1920*100%);
        padding-bottom: calc(500/1920*100%);
        position: relative
    }

    .new_set > h2 {
        font-family: NotoSansCJKkr-Bold;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 50px
    }

    .new_set > .newslider {
        width: 100%;
        position: absolute;
        top: 20%
    }

    .new_set > .newslider > .btn_prev {
        display: none
    }

    .new_set > .newslider > .btn_next {
        display: none
    }

    .new_set > .newslider > .new_list {
        width: 100%;
        height: 0;
        padding-top: calc(300/335*100%);
        position: relative
    }

    .new_set > .newslider > .new_list > .slide {
        position: absolute;
        top: 0
    }

    .new_set > .newslider > .new_list > .slide:nth-child(1) {
        left: 10%
    }

    .new_set > .newslider > .new_list > .slide:nth-child(2) {
        right: 10%
    }

    .new_set > .newslider > .new_list > .slide:nth-child(3) {
        display: none
    }

    .slide_2 {
        height: auto
    }

    .slide_2 div {
        width: 80%;
        height: 99%;
        transform: translate(0, 600px)
    }

    .product > ul {
        width: 100%;
        display: inline-block
    }

    .product > ul > li {
        width: 50%;
        padding-bottom: 50px
    }

    .product > ul > li > p {
        margin-top: 10px
    }

    .brandstore {
        margin-top: 50px
    }

    .board_set {
        width: 98%
    }

    .board_set > ul > li.more {
        display: none
    }

    .top_footer {
        border: 0;
        padding-top: 8%;
    }

    .top_footer > .inner > ul > li {
        width: 33.3%;
        text-align: center;
        line-height: normal;
        padding-right: 0;
        margin: 5px 0;
    }

    .bottom_footer {
        position: relative;
        height: 73px;
        margin-top: 0
    }

    .bottom_footer > .inner > .copyright > ul > li {
        float: left;
        width: 25%;
        position: unset;
        padding-left: 0;
        font-weight: bold;
        color: #b8b8b8
    }

    .bottom_footer > .inner > .copyright > ul > li > span {
        position: unset;
        left: auto;
        display: inline-block;
        padding-right: 5px;
        font-weight: normal;
        color: #868686
    }

    .bottom_footer > .inner > .f_logo {
        display: none
    }

    .bottom_footer > .inner > .f_logo,
    .copyright {
        float: none;
        position: absolute;
        top: 55%;
        left: 10%;
        right: 10%;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }

    .bottom_footer > .inner > .info {
        float: none;
        width: 50%;
        margin: 0 auto;

    }

    .bottom_footer > .inner > .copyright > p {
        position: absolute;
        bottom: -35px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* 서브1시작 */
    .bottom_header {
        border-bottom: none
    }
    
    .submenu_m {
        top: 72px
    }

    .subtitle {
        border-bottom: none;
        background-color: #fe3030
    }

    .subtitle > .inner > ul {
        position: absolute
    }

    .subtitle > .inner > ul > li:first-child {
        display: none
    }

    .subtitle > .inner > ul > li > select {
        color: #fff;
        background-color: #fe3030
    }

    .titlebodyimage {
        height: 0;
        padding-top: calc(416/768*100%)
    }

    .expert {
        width: 100%
    }

    .expert_img {
        width: 98%;
        height: auto;
        margin: 0 auto;
        padding: 0 0 65px 0;
        margin-top: 65px
    }

    .expert_img > dl {
        width: 100%
    }

    .expert_img > dl > dd > ul {
        padding-left: 40%
    }

    .expert_xtra {
        width: 100%
    }

    .expert_xtraImg {
        width: 98%
    }

    .spce_l {
        margin-right: 0
    }

    .spce_r {
        margin-left: 0
    }

    .spce_l,
    .spce_r {
        width: 49.5%
    }

    .upgrade {
        width: 98%
    }

    .sub_bottom > .inner {
        width: 98%
    }

    .sub_bottom ul {
        display: none
    }

    .sub_bottom > .inner > div {
        float: none;
        width: 130px;
        margin: 0 auto
    }

    .top_footer {
        padding-top: 1%
    }

    /* 서브1끝 */


    /* 서브2시작 */
    .titlebodyimage2 {
        height: 0;
        padding-top: calc(416/768*100%)
    }


    .category {
        width: 100%
    }

    .category > .inner {
        width: 98%
    }

    .categ_title {
        display: none
    }

    .categ_table {
        width: 75%
    }

    .categ_btn {
        width: 23%
    }

    .new_introduce > .inner {
        width: 98%
    }

    .new_imgSet > li {
        width: 100%
    }

    .new_imgSet > li:nth-child(2),
    .new_imgSet > li:nth-child(3),
    .new_imgSet > li:nth-child(5),
    .new_imgSet > li:nth-child(6) {
        display: none
    }

    /* 서브2끝 */

}
@media(max-width:1000px) {
    .new_set {
        padding-bottom: calc(300/1920*100%)
    }


@media (max-width:768px) {

    .menu {
        display: none
    }
    
    .new_set {
        padding-bottom: calc(800/1920*100%)
    }

    .new_set > .newslider > .new_list > .slide > p {
        display: none
    }
    
    .brandstore{background-position: center right}

    .brandtitle > h2 {
        width: 35%;
        left: 0;
        right: 0
    }

    .banner_set > .inner > ul {
        width: 98%;
        left: 0;
        right: 0;
    }

    .board_set {
        line-height: revert;
        height: 100px;
    }

    .board_set > h2 {
        float: none
    }

    .board_set > p {
        float: none;
        line-height: 40px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }


    .board_set > ul {
        float: none
    }

    #footer {
        height: 200px
    }

    .top_footer {
        display: none
    }

    .bottom_footer {
        padding-top: 50px
    }

    .top_footer > .inner > ul {
        display: none
    }

    .bottom_footer > .inner > .f_logo,
    .copyright {
        position: revert
    }

    .bottom_footer > .inner > .info {
        display: none
    }


    .new_introduce > .inner > div:nth-child(2) {
        height: 1000px
    }

}

@media (max-width:570px) {

    .banner_set > .inner > ul > li img {
        width: 90%
    }

    .new_introduce > .inner > div:nth-child(2) {
        height: 940px
    }
}
